<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Restablecer Contraseña</h2>

          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="newPassword" class="form-label visually-hidden">Nueva Contraseña</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                <input id="newPassword" [type]="showPassword ? 'text' : 'password'" class="form-control"
                  formControlName="newPassword"
                  [class.is-invalid]="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched"
                  placeholder="Ingresa nueva contraseña" />
                <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility('password')">
                  <i [ngClass]="{'bi-eye-fill': showPassword, 'bi-eye-slash-fill': !showPassword}"></i>
                </button>
              </div>

              <!-- Mensaje de error -->
              <div
                *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched"
                class="invalid-feedback d-block">
                La contraseña es obligatoria y debe tener al menos 8 caracteres.
              </div>

              <!-- Mensaje informativo -->
              <div
                *ngIf="!(resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched)"
                class="form-text">
                Mínimo 8 caracteres.
              </div>
            </div>


            <div class="mb-4">
              <label for="confirmPassword" class="form-label visually-hidden">Confirmar Contraseña</label>
              <div class="input-group">
                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                <input id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
                  formControlName="confirmPassword" [class.is-invalid]="resetPasswordForm.hasError('notSame')"
                  placeholder="Confirma tu contraseña" />
                <button class="btn btn-outline-secondary" type="button"
                  (click)="togglePasswordVisibility('confirmPassword')">
                  <i [ngClass]="{'bi-eye-fill': showConfirmPassword, 'bi-eye-slash-fill': !showConfirmPassword}"></i>
                </button>
                <div *ngIf="resetPasswordForm.hasError('notSame')" class="invalid-feedback">
                  Las contraseñas no coinciden
                </div>
              </div>
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
              {{ errorMessage }}
            </div>

            <!-- Mensaje de éxito -->
            <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
              {{ successMessage }}
            </div>

            <button type="submit" class="btn btn-primary w-100 mb-3 py-2 fw-bold"
              [disabled]="resetPasswordForm.invalid || isLoading">
              <!-- RESTABLECER CONTRASEÑA -->
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status"
                aria-hidden="true"></span>
              {{ isLoading ? 'Restableciendo contraseña...' : 'RESTABLECER CONTRASEÑA' }}
            </button>

            <div class="text-center mt-3">
              <span>¿Recordaste tu contraseña? </span>
              <a class="text-decoration-none" routerLink="/auth/login">Iniciar Sesión</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>